requests==2.25.0
aiohttp==3.7.3
async-timeout==3.0.1
asyncio==3.4.3
nest-asyncio
attrs==20.3.0
elasticsearch==7.10.1
elasticsearch_dsl==7.3.0
fairgraph @ git+https://github.com/HumanBrainProject/fairgraph.git@af10db02a585e2521156e972b685e697eeaf56e1
injector==0.18.4
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Injector==0.12.3
hbp_dataset_dataset @ https://kg.humanbrainproject.eu/query/minds/core/dataset/v1.0.0/hbp_dataset/python/pip